# This is a basic workflow to help you get started with Actions

name: Build and test
on:
  pull_request:
  push:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Stack
        uses: mstksg/setup-stack@v1

      - name: Clone project
        # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ hashFiles('haskell/stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@master

      - uses: actions/setup-python@v1
      - uses: BSFishy/pip-action@v1
        with:
          packages: |
            doit
            pystache

      - name: RegenAdl
        run: "doit genadl"

      - name: Build
        run: "doit docker_build_hxadl_image"
